@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .tag-sm {
        @apply px-2 py-[3px] mr-1 text-xs font-sans;
    }

    .social-networks-header {
        @apply stroke-slate-600 group-hover:stroke-indigo-500
    }

    .social-networks-footer {
        @apply inline w-4 mr-2
    }
}
