﻿<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="author" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Jheison Mayta - @ViewData["Title"]</title>

    <link rel="stylesheet" href="~/css/pace.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/dist/output.css" asp-append-version="true" />
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Alegreya:wght@400;600&family=Poppins:wght@400;500;600;700&family=Fira+Sans+Condensed&family=Press+Start+2P&display=swap"
        rel="stylesheet">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
</head>

<body x-data="layout" id="start">
    @RenderBody()
    @await RenderSectionAsync("Scripts", required: false)
    <script defer src="~/js/pace.min.js" asp-append-version="true"></script>
</body>

</html>
