@using MW.JMAYTA.Model.Entities
@model JobViewModel

<!-- job -->
<article class="pt-10 pb-6 pl-4 pr-8 rounded-lg md:pt-8 md:pr-10 hover:bg-indigo-50 group">
    <div class="relative pl-12">
        <div class="absolute left-3 top-1">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-6 h-6 stroke-indigo-500 group-hover:animate-ping">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M3.75 13.5l10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75z" />
            </svg>
        </div>
        <div class="absolute hidden left-3 top-1 group-hover:block">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-6 h-6 stroke-indigo-500">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M3.75 13.5l10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75z" />
            </svg>
        </div>
        <header>
            <p class="font-semibold leading-5 text-gray-400 uppercase">@Model.StartDateString -
                @Model.EndDateString
            </p>
            <h3 class="text-2xl font-bold leading-8">@Model.Company?.Alias?.ToString()</h3>
            <h5 class="text-sm font-semibold leading-5">@Model.Title</h5>
        </header>
        <section class="pt-3 font-serif text-xl text-gray-600">
            <p>
                @if (Model.Tags != null)
                {
                    @foreach (string tag in Model.Tags)
                    {
                        <span class="text-white bg-indigo-400 rounded-md tag-sm">@Html.Raw(tag)</span>
                    }
                }
            </p>
            <p class="mt-3 font-sans text-lg text-slate-500">@Html.Raw(@Model.Description)</p>
        </section>
    </div>
</article>
<!-- end job -->
