﻿@using MW.JMAYTA.Model.Entities
@model PersonViewModel
@{
    ViewData["Title"] = "Inicio";
}

<!-- header -->
<header class="bg-white md:sticky md:top-0 md:z-50">
    <!-- navbar -->
    <nav id="navigationBar" class="relative flex flex-col py-2 border-b border-gray-100">
        <div class="container px-4 mx-auto xl:max-w-screen-xl">
            <div class="flex items-center">
                <!-- brand -->
                <div class="flex flex-grow">
                    <a class="text-xl font-bold transition duration-300 ease-in-out hover:text-indigo-500" href="/">
                        <span class="text-xl">・</span>jmayta<span class="text-xl">・</span>
                    </a>
                </div>
                <!-- /brand -->
                <!-- navLinks -->
                <div class="hidden px-6 py-4 font-medium md:flex-row text-slate-500 md:flex md:py-1">
                    <div class="flex flex-row">
                        <a href="#start"
                            class="px-3 py-1 rounded-md shrink-0 hover:bg-slate-100 hover:text-indigo-500">Inicio</a>
                        <a href="#profile"
                            class="px-3 py-1 rounded-md shrink-0 hover:bg-slate-100 hover:text-indigo-500">Sobre</a>
                        <a href="#experience"
                            class="px-3 py-1 rounded-md shrink-0 hover:bg-slate-100 hover:text-indigo-500">Experiencia</a>
                    </div>
                </div>
                <!-- /navLinks -->
                <!-- menuIcon -->
                <div class="md:hidden">
                    <a class="block p-2 rounded-md cursor-pointer hover:bg-gray-100" @@click="toggle">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                        </svg>
                    </a>
                </div>
                <!-- /menuIcon -->
            </div>
        </div>
    </nav>
    <!-- /navbar -->

    <!-- navLinksMobile-->
    <div class="flex flex-col px-6 py-4 font-medium border-b border-gray-100 text-slate-500 md:hidden"
        utside="open = false" x-show="showNavbar" x-transition>
        <div class="flex flex-col">
            <a href="#start" class="px-3 py-1 rounded-md shrink-0 hover:bg-indigo-100">Inicio</a>
            <a href="#profile" class="px-3 py-1 rounded-md shrink-0 hover:bg-indigo-100">Acerca</a>
            <a href="#experience" class="px-3 py-1 rounded-md shrink-0 hover:bg-indigo-100">Experiencia</a>
        </div>
    </div>
    <!-- /navLinksMobile -->
</header>
<!-- /header -->

<!-- body -->
<!-- hero -->
<section id="info" class="relative flex flex-col min-h-screen px-6 h-max">
    <div id="particles-js" class="absolute inset-0 -z-10"></div>
    <header class="flex flex-col items-center justify-center text-center">
        <img class="w-40 my-10 rounded-full md:w-60" src="@Model.AvatarUrl" alt="avatar image">
        <h1 class="font-sans text-4xl font-bold text-indigo-500">@Model.FullName</h1>
        <h2 class="max-w-sm mt-2 text-2xl font-semibold text-center text-slate-500">
            @Html.Raw(@Model.Profile?.Title)
        </h2>
    </header>
    <!-- socialNetworks -->
    <section class="flex items-center justify-center mt-8 social-networks">
        @if (Model.SocialNetworksViewModel != null)
        {
            @foreach (SocialNetworkViewModel socialNetwork in Model.SocialNetworksViewModel)
            {
                <a target="_blank"
                    class="block px-2 py-2 transition ease-in-out rounded-md group hover:bg-gray-100 duration-400"
                    href="@socialNetwork.AccountUrl" rel="noopener">
                    @Html.Raw(socialNetwork.Icon)
                    <span class="hidden bg-slate-100">@socialNetwork.Name</span>
                </a>
            }
        }
    </section>
    <!-- /socialNetworks -->
    <!-- separator -->
    <section class="flex justify-center mt-12">
        <a href="#profile"
            class="p-4 transition rounded-full cursor-pointer scroll-smooth bg-zinc-50 hover:bg-indigo-200 group animate-bounce duration-600"><svg
                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
            </svg>
        </a>
    </section>
    <!-- /separator -->
</section>
<!-- /hero -->

<!-- ==================== About ==================== -->
<!-- bio -->
<section id="profile" class="box-border px-8 py-10">
    <header class="flex flex-col items-center mt-10 text-center lg:mt-20">
        <h3 class="text-xl font-bold text-indigo-500 uppercase">Acerca</h3>
        <h2 class="mt-1 font-serif text-5xl font-semibold text-gray-600">
            <span class="text-slate-300">・</span>Más sobre mí<span class="text-slate-300">・</span>
        </h2>
        <p class="max-w-lg mt-4 text-lg font">
            @Model.Profile?.Presentation
        </p>
    </header>

    <div class="xl:max-w-screen-xl xl:mx-auto">
        <section class="text-gray-600 mt-14 lg:flex lg:flex-row lg:space-x-8">
            <!-- bioText -->
            <div class="lg:flex-1">
                @Html.Raw(@Model.Profile?.Bio)
            </div>
            <!-- /bioText -->
            <!-- bioImage -->
            <div class="mt-6 lg:flex-1 lg:mt-0">
                <img class="rounded-lg" src="@Model.Profile?.BioImageUrl" alt="imagen del perfil" />
                <p class="hidden mt-4 font-medium text-center lg:block text-zinc-400">
                    <a href="mailto:@Model.EmailAddress"
                        class="transition ease-in-out group hover:text-indigo-500 duration-600" aria-label="Contáctame">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="inline w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75" />
                        </svg>
                        <span class="ml-2">@Model.EmailAddress</span>
                    </a>
                </p>
            </div>
            <!-- /bioImage -->
        </section>
    </div>
</section><!-- /bio -->

<!-- ===================== EXPERIENCE ===================== -->
<!-- experience -->
<section id="experience" class="px-8 pt-6 lg:pt-8">
    <header class="mt-8 mb-8 text-center lg:mt-12 lg:mb-20">
        <h3 class="text-2xl font-semibold text-gray-600">Mi Experiencia Laboral</h3>
    </header>
    <div class="xl:max-w-screen-xl xl:mx-auto">
        <!-- jobContainer -->
        <section class="flex flex-col md:grid md:grid-cols-2 md:gap-8 md:grid-rows-2 md:mb-16">
            @if (Model.ExperienceViewModel != null)
            {
                @foreach (Job job in Model.ExperienceViewModel)
                {
                    <partial name="_JobSection.cshtml" model="job" />
                }
            }
        </section>
        <!-- /jobContainer -->
    </div>
</section><!-- /experience -->
<!-- ===================== END EXPERIENCE ===================== -->

<!-- ===================== FOOTER ===================== -->
<footer id="footer" class="flex flex-col items-center justify-center w-full px-6 py-4 mt-4 text-center bg-zinc-800">
    <div class="container flex flex-col">
        <h1 class="mt-8 font-sans text-4xl font-bold text-gray-100">Jheison Mayta</h1>
        <!-- socialNetworks -->
        <section class="flex items-center justify-center mt-8 text-zinc-200 social-networks">
            @if (Model.SocialNetworksViewModel != null)
            {
                @foreach (var socialNetwork in Model.SocialNetworksViewModel)
                {
                    <a target="_blank"
                        class="flex flex-row items-center justify-center transition ease-in-out duration-400 hover:text-indigo-400"
                        href="@socialNetwork.AccountUrl" rel="noopener">
                        @Html.Raw(@socialNetwork.Icon)
                        <span class="hidden md:inline">@socialNetwork.Name</span>
                    </a>
                    @if (socialNetwork.Name != Model.SocialNetworksViewModel.Last().Name)
                    {
                        <span class="after:content-['￤'] after:mx-2 after:text-zinc-500"></span>
                    }
                }
            }
        </section>
        <!-- /socialNetworks -->
        <section class="mt-16 mb-8">
            <!-- Copyright -->
            <p class="mt-4 text-zinc-200">© 2023 Jheison Mayta. Todos los derechos reservados.</p>
            <!-- brief description/words -->
            <p class="mt-4 text-zinc-500">
                Construido con ❤️ para <a class="text-zinc-100 hover:text-indigo-400" href="">Munay&nbsp;Workers</a></p>
        </section>
    </div>
</footer>
<!-- ===================== END FOOTER ===================== -->

@section Scripts {
    <script src="~/js/particles.min.js" asp-append-version="true"></script>
    <script defer src="~/js/alpine.cdn.min.js"></script>
    <script>
        // ParticleJS
        particlesJS.load("particles-js", "particlesjs.json");

        // Alpine
        document.addEventListener("alpine:init", () => {
            Alpine.data("layout", () => ({
                showNavbar: false,

                toggle() {
                    this.showNavbar = !this.showNavbar;
                },
            }));
        });

        // VanillaJS
        var socialNetworkHeaderLinks = document.querySelectorAll("#info .social-networks svg");
        var socialNetworkFooterLinks = document.querySelectorAll("#footer .social-networks svg");
        socialNetworkHeaderLinks.forEach((element, currentIndex, listObjects) => element.classList.add("social-networks-header"));
        socialNetworkFooterLinks.forEach((element, currentIndex, listObjects) => element.classList.add("social-networks-footer"));
    </script>
}
